.calWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calLabel {
	font-size: 28px;
	font-weight: bold;
}

.calRiskLevelLabelContainer {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	margin: 9px;
	width: 700px;
}

.calRiskLevelLabel {
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
}

.calCurrentContainer {
	display: flex;
	align-items: center;
	margin: 10px 10px 0px 10px;
	justify-content: space-between;
	width: 700px;
}

.calCurrentLabel {
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
}

.calCurrentButton {
	height: 40px;
	margin-right: 10px;
}

.calCurrentTableContainer {
	
}