.calWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calLabel {
	font-size: 28px;
	font-weight: bold;
}

.calRiskLevelLabelContainer {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	margin: 10px;
	width: 700px;
}

.calRiskLevelLabel {
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
}

.calCPContainer {
	display: flex;
	align-items: center;
	margin: 14px 10px 0px 10px;
	justify-content: space-between;
	width: 700px;
}

.calCPLabel {
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
}

.calCPButton {
	height: 40px;
	margin-right: 10px;
}

.calCPTableContainer {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	font-size: 17px;
	border: 1px solid #e9e9e9;
	border-radius: 2px;
	width: 700px;
	background-color: white;
}

.calCPTableLabel {
	padding: 10px 0px 10px 65px;
	font-size: 17px;
	font-weight: 600;
	background-color: #f9f9f9;
	border-bottom: 1px solid #d9d9d9;
}

.calCPTableLabel :nth-child(1){
	margin-right: 60px;
}

.calCPTableLabel :nth-child(2){
	margin-right: 30px;
}

.calCPTableLabel :nth-child(3){
	margin-right: 11px;
}

.calCPTableBody {
	display: flex;
	margin: 5px 10px 15px 10px;
}

.calCPTableLeft {
	display: flex;
	flex-direction: column;
	width: 470px;
}

.calCPTableRow {
	position: relative;
	display: flex;
	margin: 10px;
}

.calCPTableRow label {
	font-size: 17px;
}

.calCPTableRowInputs {
	display: flex;
	position: absolute;
	left: 103px;
}

.calCPTableRowInputs input {
	height: 29px;
	width: 95px;
	font-size: 12px;
	margin-right: 15px;
	border-radius: 5px;
	padding: 0px 5px;
	text-align: right;
}

.calCPTableRowCurrent {
	border: 1px solid black;
	animation: pulse 0.7s;
  animation-iteration-count: 3;
}

@keyframes pulse {
	50% {
		box-shadow: 0px 0px 7px rgb(80, 168, 215);
		border: 1px solid rgb(80, 168, 215);
	}
}

.calCPTableRowDiff, .calCPTableRowNew {
	border: 1px solid grey;
	background-color: #efefef4d;
}

.calCPTableRowNew {
	color: blue;
}

.calCPTableRight {
	position: relative;
}

.calCPTableRight input {
	position: absolute;
	height: 179px;
	width: 170px;
	left: 15px;
	top: 9px;
	font-size: 14px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 5px;
}