.homeWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homeLabelContainer {
  display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	width: 730px;
}

.homeLabel {
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	margin-right: 26px;
}

.homeLowHighLabelContainer {
	display: flex;
	font-size: 18px;
	justify-content: space-between;
}

.homeLowHightLabel {
	margin: 5px 96px 5px 0px;
	font-weight: 500;
}

.homeRiskSelectorContainer {
	display: flex;
	/* background-color: lightblue */
}

/* .homeRiskSelector {
	height: 60px;
	width: 620px;
	background-color: yellow;
} */

.homeRiskSelectorUl {
	display: flex;
	width: 620px;
	/* background-color: red; */
}

.homeRiskSelectorLi {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 27px;
	font-weight: 500;
	background-color: white;
	height: 56px;
	width: 62px;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px 2px;
}

.homeRiskSelectorLi:hover {
	background-color: #e6ff3f;
	cursor: pointer;
}

.homeRiskSelectorButton {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	font-weight: 700;
	background-color: #73d0ff;
	height: 56px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
}

.homeRiskSelectorButton:hover {
	display: flex;
	cursor: pointer;
}

.homeRiskTableContainer {
	display: flex;
	width: 730px;
	margin-top: 15px;
}

.homeRiskTable {
	border-collapse: collapse;
  width: 700px;
}

.homeRiskTable th {
  padding-top: 12px;
  padding-bottom: 12px;
	font-weight: 800;
  text-align: center;
  background-color: #f9f9f9;
}

.homeRiskTableColRisk {
	width: 9%;
}

.homeRiskTableCol {
	width: 18%;
}

.homeRiskTable td {
	font-weight: 600;
  text-align: right;
}

.homeRiskTable td, .homeRiskTable th {
  border: 1px solid #e9e9e9;
  padding: 8px;
}

.homeRiskTable tr:nth-child(even) {
	background-color:white;
}

.homeRiskTable tr:nth-child(odd) {
	background-color: #fcfcfc;;
}

.homeRiskTable tr:hover {
	background-color: #ddd;
	cursor: pointer;
}